[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
docformatter = "*"
pylint = "*"
mypy = "*"

[packages]
records = "*"
requests = "*"
mysql-connector-python = "*"
flake8 = "*"
black = "*"
isort = "*"
